@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #010615;
    color: #fff;
}

main {
    margin: 40px 40px 10px 40px;
}

h1 {
    text-align: center;
    padding-bottom: 30px;
    letter-spacing: 4px;
    word-spacing: 10px;
}

h2 {
    text-align: center;
    margin: 0 0 20px 0;
    letter-spacing: 3px;
}

article {
    position: relative;
    display: flex;
    margin: 0 0 10px 0;
    align-items: center;
}

.subtitle {
    font-weight: 700;
}

p {
    font-size: .9em;
    text-align: justify;
    word-spacing: 4px;
}

article .content {
    position: relative;
    max-width: 650px;
    margin-right: 100px;
}

article .content-photo {
    position: relative;
    width: 450px;
    height: 500px;
    margin: 5px 0 0 0;
    background: url(img/yo.jpeg);
    background-size: cover;
}

/*
    justify-content: flex-end;
*/

.sci {
    position: relative;
    display: flex;
    float: right;
    align-items: center;
    margin: 0 0 20px 0;
}

.sci li {
    list-style: none;
    margin: 0 80px;

}

.sci li a img {
    filter: invert(1);
}

footer p{
    margin-top: 90px;
    text-align: center;
    font-size: 1.2em;
}

@media (max-width: 700px) {

    main {
        margin: 20px 10px 30px 10px;
    }

    h1 {
        padding-bottom: 20px;
        letter-spacing: 2px;
        word-spacing: 5px;
        font-size: 1.6em;
    }

    article {
        display: grid;
        grid-template-columns: auto;
    }

    h2{
        font-size: 1.2em;
    }

    article .content {
        position: relative;
        margin-right: 0;

    }

    article .content-photo {
        position: relative;
        width: 65%;
        height: 400px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 30px;
    }

    .sci {
        position: relative;
        display: flex;
        justify-content: center;
        margin: 0 0 10px 0;
        float: none;
    }

    .sci li {
        list-style: none;
        margin: 0 30px;
    }
}